<footer class="footer mt-5">
    <div class="container ">
        <div class="row">
            <div class="col-6 col-sm-4 col-xl-2">
                <p class="content_headlines content_headlines-footer mt-5"> Шины
</p>
<ul class="list-group custom-list-group list-group-flush ">
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
    <li class="list-group-item footer-content_main">Шины по брендам</li>
 </ul>
</div>

<div class="col-6 col-sm-4 col-xl-2 ">
    <p class="content_headlines content_headlines-footer mt-5">
    Диски
</p>
<ul class="list-group custom-list-group list-group-flush ">
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
    <li class="list-group-item footer-content_main">Диски по брендам</li>
 </ul>
</div>

<div class="col-6 col-sm-4 col-xl-2">
    <p class="content_headlines content_headlines-footer mt-5">
    Мотошины
</p>
<ul class="list-group custom-list-group list-group-flush ">
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
    <li class="list-group-item footer-content_main">Мотошины по брендам</li>
 </ul>
</div>

<div class="col-6 col-sm-4 col-xl-2">
    <p class="content_headlines content_headlines-footer mt-5">
    Информация
</p>
 <ul class="list-group custom-list-group list-group-flush ">
    <li class="list-group-item footer-content_main">Информация о Шинах</li>
    <li class="list-group-item footer-content_main">Информация о Дисках</li>
    <li class="list-group-item footer-content_main">Информация о Мотошинах</li>
 </ul>
</div>

<div class="col-12 col-sm-4 col-xl-3">
    <div class="container p-0">
        <div class="row">
            <div class="col-12">
                <p class="content_headlines content_headlines-footer text-center mt-5">
                Наши партнеры
            </p>
            <div class="container p-0">
                <div class="row ">
                    <div class="col-6 ">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                    </div>
                    <div class="col-6 text-end">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                        <img alt="" src="assets/images/partners.svg" class="pb-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="content_headlines content_headlines-footer mt-5">
                Мы принимаем
            </p>
            <div class="container footer-content_payment mb-5">
                <div class="row h-100"><div class="col-4 d-flex ">
                    <img alt="" src="assets/images/mastercard.svg" class="m-auto">
                </div>
                    <div class="col-4 d-flex ">
                        <img alt="" src="assets/images/mir.svg" class="m-auto">
                    </div>
                    <div class="col-4 d-flex">
                        <img alt="" src="assets/images/visa.svg" class=" m-auto">
                    </div>
                </div>
            </div>
            <p class="content_headlines content_headlines-footer mt-5">
                Наши соц. сети
            </p>
            <div>
                <img alt="" src="assets/images/social-media.svg">
                </div>
              </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</footer>

